@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap');
html {
    font-family: 'Nunito', sans-serif;
}
body {
    background-color:whitesmoke;
    color: #444444EE;
}

.boards{
    display: flex;
    margin-top: 30px;
}
.board{
    background: #FFF;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.01);
    margin: 0 16px;
}
.board h3{
    padding: 16px;
    margin: 0px;
    color: #444444CC;
}
.dropzone{
    padding: 16px;
    min-width: 330px;
    min-height: 200px;
}
.card{
    padding: 16px;
    border: 1px solid #ddd;
    margin: 25px 0px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    background: #EEEEEE33;
}
.status{
    width: 50px;
    height: 8px;
    margin-bottom: 16px;
    border-radius: 8px;
}
.status.green{
    background: #23d2ac;
}
.status.blue{
    background: #33adff;
}
.status.red{
    background: red;
}

.highlight{
    background-color: #FF000011;
}

.card, .dropzone{
    transition: 400ms;
}

.is-dragging{
    cursor: move;
    opacity: 0.3;
}

.over-dragging{
    background-color: #4cd13711;
}